<h1>Listing products</h1>

<table>
  <thead>
    <tr>
      <th>Displayname</th>
      <th>Description</th>
      <th>Location</th>
      <th>Model</th>
      <th>Vendor</th>
      <th>Supplier</th>
      <th>Cost</th>
      <th>Value</th>
      <th>Condition</th>
      <th>Status</th>
      <th>Category</th>
      <th>Color</th>
      <th>Uom</th>
      <th>User</th>
      <th>Quantity</th>
      <th>Aquired</th>
      <th>Retired</th>
      <th>Note</th>
      <th>Image</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.displayname %></td>
        <td><%= product.description %></td>
        <td><%= product.location %></td>
        <td><%= product.model %></td>
        <td><%= product.vendor %></td>
        <td><%= product.supplier %></td>
        <td><%= product.cost %></td>
        <td><%= product.value %></td>
        <td><%= product.condition %></td>
        <td><%= product.status %></td>
        <td><%= product.category %></td>
        <td><%= product.color %></td>
        <td><%= product.uom %></td>
        <td><%= product.user_id %></td>
        <td><%= product.quantity %></td>
        <td><%= product.acquired %></td>
        <td><%= product.retired %></td>
        <td><%= product.note %></td>
        <td><%= product.image_url %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
