<p id="notice"><%= notice %></p>

<p>
  <strong>Displayname:</strong>
  <%= @product.displayname %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @product.location %>
</p>

<p>
  <strong>Model:</strong>
  <%= @product.model %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @product.vendor %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @product.supplier %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @product.cost %>
</p>

<p>
  <strong>Value:</strong>
  <%= @product.value %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @product.condition %>
</p>

<p>
  <strong>Status:</strong>
  <%= @product.status %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Color:</strong>
  <%= @product.color %>
</p>

<p>
  <strong>Uom:</strong>
  <%= @product.uom %>
</p>

<p>
  <strong>User:</strong>
  <%= @product.user_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

<p>
  <strong>Aquired:</strong>
  <%= @product.acquired %>
</p>

<p>
  <strong>Retired:</strong>
  <%= @product.retired %>
</p>

<p>
  <strong>Note:</strong>
  <%= @product.note %>
</p>

<p>
  <strong>Image:</strong>
  <%= @product.image_url %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
