<!DOCTYPE html>
<html>
<head>
  <title>Cutthroat Equipment</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
 </head>
<body class='<%= controller.controller_name %>'>
<%= render 'layouts/header' %>
    <div class="container">
        <p>
          <% if current_user %>
             <h2> Logged in as <%= current_user.username %>. </h2>
              <%#= link_to "Sign Out", signed_out_path %>
              <%#= link_to "Account Settings", account_settings_path %>
              <%#= link_to "Admin", admin_users_path %>
              <%#= link_to "Roles", admin_roles_path %>

          <% else %>
              <%#= link_to "Sign up", new_user_path %>
              <%#= link_to "Sign In", sign_in_path %>
          <% end %>
        </p>
    </div>
<div id="columns">
  <div id="side">
     <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do  %>
       <%= render (@cart) %>
     <% end %>
  </div>

</div>

<% flash.each do  |name, msg| %>
  <%= content_tag  :div, msg, :id => "flash_#{name}" %>
<% end %>
<div id="main">
  <%= yield %>
</div>

<%= render 'layouts/footer' %>
<%= debug(params) if Rails.env.development? %>
</body>
</html>
